<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
	    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	    xmlns:jaxws="http://cxf.apache.org/jaxws"
	    xmlns:p="http://www.springframework.org/schema/p" 
	    xmlns:context="http://www.springframework.org/schema/context"
	    xmlns:tx="http://www.springframework.org/schema/tx"
	    xmlns:mvc="http://www.springframework.org/schema/mvc"
	    xmlns:cache="http://www.springframework.org/schema/cache"
	    xsi:schemaLocation="
			http://www.springframework.org/schema/beans	 
			http://www.springframework.org/schema/beans/spring-beans.xsd
			 
			http://www.springframework.org/schema/mvc	 
			http://www.springframework.org/schema/mvc/spring-mvc.xsd
			
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context.xsd
			
			http://cxf.apache.org/jaxws 
			http://cxf.apache.org/schemas/jaxws.xsd
			
			http://www.springframework.org/schema/tx 
			http://www.springframework.org/schema/tx/spring-tx.xsd
			
			http://www.springframework.org/schema/cache
			http://www.springframework.org/schema/cache/spring-cache.xsd">
					
	<!--The controllers are autodetected POJOs labeled with the @Component @Controller@Service annotation. (管理所有使用注解的类)-->
    <context:component-scan base-package="com.eshop.*"/>
    
	<!-- 配置  @Controller 到  Action -->
	<mvc:annotation-driven/>
	

    <!-- Application Message Bundle -->
	<!-- <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basename" value="classpath:messages/*.properties" />
		<property name="cacheSeconds" value="3000" />
	</bean> -->
    
	<!-- 对控制器返回的逻辑路径指定对应的视图 -->
	<!-- prefix + view name + suffix = /WEB-INF/pages/login.jsp -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">	
	   <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"></property>
	   <property name="prefix" value="/WEB-INF/**"></property>
	   <property name="suffix" value=".jsp"></property>
	</bean>
	
	<!-- 容器默认的DefaultServletHandler处理 所有静态内容与无RequestMapping处理的URL-->
	<mvc:default-servlet-handler/>
	
	<!-- 定义无需Controller的url<->view直接映射 -->
	<mvc:view-controller path="/front/" view-name="index"/>
	<mvc:view-controller path="/admin/" view-name="/admin/index"/>
	
	<!-- 将Controller抛出的异常转到特定View, 保持SiteMesh的装饰效果 -->
	<bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">  
		<property name="exceptionMappings">  
			<props>
				<prop key="org.apache.shiro.authz.UnauthorizedException">error/403</prop>
				<prop key="java.lang.Throwable">error/500</prop>
            </props>  
		</property>  
    </bean> 
	
 	<!-- DAOs configuration -->
	<import resource="dao-context.xml"/>
	
</beans>